@model CinemaReservationSystem.Models.Screening
@{

}
<div>
    <h2>Book tickets to @Html.DisplayFor(model => model.Movie.Title) </h2>
    <br />
    <strong>Date:</strong> 2018-03-25 <strong>Time:</strong> @Html.DisplayFor(model => model.ScreeningTime)
    <em>Limited to 12.</em>
</div>

<form asp-action="Reservation" asp-route-id="@Model.Id" asp-controller="Screenings">
    <div class="col-xs-1" style="min-width:90px">
        <input type="number" name="tickets" value="1" class="form-control" id="focusedInput" />
    </div>
    <input type="submit" value="Book" class="btn btn-primary" />
</form>

<div class="text-danger">@ViewData["ErrorInfo"]</div>



